<%- include('../parts/head') %>
<main>
  <% if (data?.error) { %>
  <p><%= data.error %></p>
  <% } %>
  <form action="/admin/login" method="POST">
    <dl>
      <div>
        <dt>name</dt>
        <dd><input type="text" name="user" value="<%= data?.input.user ?? '' %>"></dd>
      </div>
      <div>
        <dt>password</dt>
        <dd><input type="password" name="password"></dd>
      </div>
    </dl>
    <div><button type="submit">login</button></div>
  </form>
</main>
<%- include('../parts/foot') %>
